@use '../colors' as c
@use '../typography' as t
@use './Store'
.footer
  background-color: c.$bg-footer--light
  color: c.$main-text
  &-nav
    display: grid
    margin: 0 auto
    width: 19.5rem
    &-description
      display: flex
      flex-direction: column
      gap: 2rem
      margin-top: 3rem
    &-links
      display: flex
      flex-direction: column
      margin-top: 3rem
      gap: 1rem
    &-contacts
      margin-top: 2rem
      display: flex
      flex-direction: column
      gap: 1.5rem
      &-email
        display: flex
        gap: 1rem
    &-socials
      display: flex
      gap: 0.5rem
      &-wrapper
        background-color: c.$active-blue
        border: c.$border
        border-radius: .5rem
        padding: .5rem
        display: flex
    &-rights
      margin: 3rem 0
      color: c.$grey-text
