@use '../colors' as c
@use '../typography' as t
@use './Store'
.footer
  &-nav
    background-color: c.$bg-footer--light
    display: flex
    flex-direction: column
    &-links
      display: flex
      flex-direction: column
    &-email
    &-socials
      display: flex
      gap: 0.5rem
      &-wrapper
        background-color: c.$active-blue
        border: c.$border
        border-radius: .5rem
        padding: .5rem
        display: flex
