@use '../colors' as c
@use '../typography' as t
@use '../components/ReferralCard'
@use '../components/StepCard'

main
  background-color: c.$bg-yellow
  display: flex
  flex-direction: column
  align-items: center
@media only screen and (min-width: 992px)
  main
    flex-direction: row
    gap: 5rem
    justify-content: center
