@use '../colors' as c
@use '../typography' as t

.referral
  &-card
    background-color: c.$bg-footer--light
    border: c.$border
    border-radius: 1rem
    margin: 1.5rem 1rem
    padding: 2rem 1rem
    display: flex
    flex-direction: column
    gap: 1.5rem
  &-title
    color: c.$main-text
    font-family: t.$Caveat-Brush
    font-weight: normal
    line-height: 3rem
  &-description
    color: c.$main-text
    font-family: t.$Noto-Sans
    line-height: 1.5rem
  &-input
    color: c.$grey-text
    font-family: t.$Noto-Sans
    font-size: 1rem
    border: c.$border
    border-radius: 8px
    min-height: 3.5rem
    background-image: url(/images/email.svg)
    background-repeat: no-repeat
    background-position: 1rem
    text-indent: 3rem
  &-btn
    font-family: t.$Noto-Sans
    font-weight: bold
    font-size: 1rem
    color: c.$bg-white
    background-color: c.$active-blue
    border: c.$border
    min-height: 3.5rem
    border-radius: 8px
  &-notice
    font-family: t.$Noto-Sans
    color: c.$grey-text
